# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
backend/.env
backend/logs/
backend/storage/
backend/staticfiles/
backend/db.sqlite3

# Node / Vite
node_modules/
dist/
.vite/

# Editors
.idea/
.vscode/
*.swp
